In [ ]:
# #Dict called (json in other programming language)
# #indexing
# ordered
# multiple and duplicate data
# mutable

In [ ]:
# d={<key>:<value>,<key>:<value>,<key>:<value>,......}

In [3]:
d={'a':'Apple','b':'Banana'}
print(type(d))

<class 'dict'>

In [37]:
#in dictionary there is no concatination i.e +,*
#should be use update

a={1:1,2:4,3:9,4:16}
b={5:25,6:36,7:49}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [13]:
d={'name':'Ram','age':'32','add':'Nepal'}
print(len(d))
print(d)

3
{'name': 'Ram', 'age': '32', 'add': 'Nepal'}

In [ ]:
#CRUD

In [35]:
#CREATE in dictionary
d={'name':'Ram','age':'32','name':'Nepal'}   #if duplicate key should be unique
print(d)

d={'name':'Nepal','age':'32','add':'Nepal'} #value can be duplicate
print(d)

d={}
d['Ram']=9847689569
d['Hari']=9487595794
d['Shyam']=98585498574
d['Gita']=479390493
print(d)

{'name': 'Nepal', 'age': '32'}
{'name': 'Nepal', 'age': '32', 'add': 'Nepal'}
{'Ram': 9847689569, 'Hari': 9487595794, 'Shyam': 98585498574, 'Gita': 479390493}

In [41]:
#taking value from user 
d=dict()
n=int(input("Enter the value n="))
for i in range(n):
    name=input("Enter name:")
    phone=input("Enter phone:")
    d[name]=phone   #here name acts as a key and phone acts as a value
print(d)

Enter the value n= 2
Enter name: Ram
Enter phone: 9864096896
Enter name: Shyam
Enter phone: 9686846759

{'Ram': '9864096896', 'Shyam': '9686846759'}

In [27]:
#READ
d={'name':'Ram','age':'32','add':'Nepal'}
print(d['name'])
print(d['age'])
print(d['add'])
print(d.values())
print(d.keys())
print(d.items())

Ram
32
Nepal
dict_values(['Ram', '32', 'Nepal'])
dict_keys(['name', 'age', 'add'])
dict_items([('name', 'Ram'), ('age', '32'), ('add', 'Nepal')])

In [23]:
d={'name':'Ram','age':'32','add':'Nepal'}
for i in d:
    print(i)

name
age
add

In [25]:
d={'name':'Ram','age':'32','add':'Nepal'}
for i in d.values():
    print(i)

Ram
32
Nepal

In [45]:
#UPDATE
a={'Ram':'986700475','Shyam':'98503450566'}
a['Ram']='9058069806'
a

{'Ram': '9058069806', 'Shyam': '98503450566'}

In [47]:
#CREATE
a={'Ram':'986700475','Shyam':'98503450566'}
a['Rama']='9058069806'
a

{'Ram': '986700475', 'Shyam': '98503450566', 'Rama': '9058069806'}

In [71]:
#DELETE can use deland pop keyword to delete from dict
a={'Ram': '986700475','Shyam': '98503450566','Rama': '9058069806'}
# del a['Ram']
# a.pop('Ram') #pop can be use as to move and to delete the value
b=a.pop('Ram')
print(a)
b

{'Shyam': '98503450566', 'Rama': '9058069806'}

'986700475'

In [73]:
#list inside dictionary
a={'Ram': ['986700475','9898099865'],
   'Shyam': ['958458454','98459457495'],
   'Hari': ['984594853','989475485']
  }
print (a)

{'Ram': ['986700475', '9898099865'], 'Shyam': ['958458454', '98459457495'], 'Hari': ['984594853', '989475485']}

In [75]:
a={'name':['Ram','Shyam','Hari'],
   'age':[32,14,20],
   'add':['Kathmandu','Lalitpur','Japan']}

In [ ]:
# a={'Ram': ['986700475','9898099865'],
#    'Shyam': ['958458454','98459457495'],
#    'Hari': ['984594853','989475485']
#   }
#if we want to get value in this format then

a={}
n=int(input("enter the no of rows="))
for i in range(n):
    name=input("Enter name=")
    ntc=input("Enter ntc=")
    ncell=input("Enter ncell=")
    a[name]=[ntc,ncell]
print(a)
#it has limitation as it replaces the multiple value so next methods

In [83]:
# a={'name':['Ram','Shyam','Hari'],
#    'age':[32,14,20],
#    'add':['Kathmandu','Lalitpur','Japan']}


#now in this format
a={"name":[],"ntc":[],"ncell":[]}    #in dictionary we don't use append but here list is defined so append is use later
n=int(input("enter the no of rows="))
for i in range(n):
    name=input("Enter name=")
    ntc=input("Enter ntc=")
    ncell=input("Enter ncell=")
    a["name"].append(name)
    a["ntc"].append(ntc)
    a["ncell"].append(ncell)
print(a)

enter the no of rows= 3
Enter name= Ram
Enter ntc= 9890586
Enter ncell= 908090
Enter name= Ram
Enter ntc= 90865069
Enter ncell= 98570495
Enter name= Shyam
Enter ntc= 908560956
Enter ncell= 9860596

{'name': ['Ram', 'Ram', 'Shyam'], 'ntc': ['9890586', '90865069', '908560956'], 'ncell': ['908090', '98570495', '9860596']}