In [ ]:
# file
# open('<file_name>','<mode>')

#close ni garna parcha 
# with open('<file_name>','<mode>'):
#     <operations>

# modes
# r -> read
# w -> write
# x -> create
# a -> append

In [6]:
#create also called exceptional handling
try:
    file = open('data.txt','x')   #jun code ma error auna sakcha 
    file.close()
except:
    print("There is same file!")

In [4]:
#write    override gardincha (paila ko lai delete garera naya rakhcha)
data = "Hello World"
file = open('data1.txt','w')
file.write(data)   #check if file is there or not
file.close()

In [ ]:
#append   kunai naya add gardincha
data = "Hello World\n"
file = open('data1.txt','a')
file.write(data)
file.close()

In [ ]:
#read   (read means content lai memory ma store garney)
file = open('data.txt','r')
my_data = file.read()
print(my_data)
file.close()

In [2]:
# Bill system
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter Product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    bill = bill + row

file = open('bill.txt','a')
file.write(bill)
file.close()

Enter n =  2
Enter Product name =  Banana
Enter price =  300
Enter quantity =  2
Enter Product name =  Bjfk
Enter price =  300
Enter quantity =  2

In [4]:
#read
file = open('bill.txt','r')
my_data = file.read()
print(my_data)
file.close()

Banana 300 2.0 600.0
Bjfk 300 2.0 600.0

In [6]:
my_data

'Banana 300 2.0 600.0\nBjfk 300 2.0 600.0\n'

In [8]:
row = my_data.split('\n')[0:-1]
row

['Banana 300 2.0 600.0', 'Bjfk 300 2.0 600.0']

In [10]:
bills = []
for i in row:
    x = i.split()
    x[1] = int(x[1])
    x[2] = float(x[2])
    x[3] = float(x[3])

    bills.append(x)

bills

[['Banana', 300, 2.0, 600.0], ['Bjfk', 300, 2.0, 600.0]]

In [12]:
s = 0
for i in bills:
    s = s+ i[3]
print(s)

1200.0

In [ ]:
# Bill system
bill = ""
s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter Product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    row = f"{product},{price},{qty},{total}\n"
    bill = bill + row
    s = s + total
#write mode          for individual person lai bill banayera dina parey
file = open('bill.csv','w')      
file.write('Product,Price,Quantity,Total\n')
file.write(f"{bill}\n")
file.write(f"Total = {s}")
file.close()

#append  each and everything print garna ko lagi
file = open('all_bill.csv','a')
file.write(bill)
file.close()

Enter n =  2

In [8]:
pwd

'C:\\Users\\user\\Desktop\\Python_class'

In [3]:
#working on csv file
import csv
bill=[['Name','Price','Quantity','Total'],
      ['Apple','1000','2','2000'],
      ['Banana','100','1','100'],
      ['Guava','200','3','600'],
      ['Pineapple','500','1','500']]

file=open('list_bill.csv','w')
x=csv.writer(file)
x.writerows(bill)
file.close()

In [5]:
import pandas as pd
file=pd.read_csv('list_bill.csv')
file

        Name  Price  Quantity  Total
0      Apple   1000         2   2000
1     Banana    100         1    100
2      Guava    200         3    600
3  Pineapple    500         1    500

In [7]:
col=['Name','Price','Quantity','Total']
bill=[
      ['Apple','1000','2','2000'],
      ['Banana','100','1','100'],
      ['Guava','200','3','600'],
      ['Pineapple','500','1','500']]
df=pd.DataFrame(bill,columns=col)
df

        Name Price Quantity Total
0      Apple  1000        2  2000
1     Banana   100        1   100
2      Guava   200        3   600
3  Pineapple   500        1   500