In [1]:
print("Hello world")

Hello world

In [3]:
#Variable
a=11
print(a)

11

In [144]:
a= 2  #interger value i.e datatype
b=10.5 #float value
c="Hello World"   #string value
d=True    #boolean value
print(a)
print(b)
print(c)
print(d)

2
10.5
Hello World
True

In [65]:
#operators +,-,*,/,%,** (this is known as power of next value),// (floor division)
a=2
b=3
c=a/b
print(c)

0.6666666666666666

In [66]:
print(a%b)
print(a**b)
print (a//b)

2
8
0

In [134]:
#in string only + or * can be done
o="Hello Hello \n"
b="World"
c=a+b
d=a*2
print(c)
print(d)

11World
1111

In [110]:
#boolean 1=true and 0 is false
a=True
b=False
print(a*b)

0

In [140]:
 #datatype find out
a="11"

print(type(a))

<class 'str'>

In [61]:
#typecasting converting datatypes
# str() int() float() bool()
a = 10
b = float(a)
print(b)
print(type(b))


a=15.5
b=int(a)
print(b)
print(type(b))


a=1100
b=str(a)
print(b)
print(type(b))


a="10"
b="20"
c=a+b  #here concatinating is happening
print(c)


a="10"
b="20"
c=int(a) +int(b)    #this is integer value
print(c)



a="hello"    #other than 0 boolean shows false 
b=bool(a)
print(b)
print(type(b))

10.0
<class 'float'>
15
<class 'int'>
1100
<class 'str'>
1020
30
True
<class 'bool'>

In [9]:
#I/O operations
a=input("Enter value of a")
print(a)

a=input("Enter the value of a=")  #if not int is given then it will concatinate
b=input("Enter the value of b=")
c=a+b
print(c)

a=int(input("Enter the value of a=")) #need to write int to get the int value
b=int(input("Enter the value of b="))
c=a+b
print(c)

Enter value of a 4

4

Enter the value of a= 3
Enter the value of b= 2

32

Enter the value of a= 3
Enter the value of b= 5

8

In [13]:
#calculating simple interest
p=int(input("Enter p="))
t=float(input("Enter t="))
r=float(input("Enter r="))
i=p*t*r/100
print("The value of i is",i)

Enter p= 2
Enter t= 3
Enter r= 4

The value of i is 0.24

In [23]:
print(a,b,r,t,p) #can print multiple once

3 5 4.0 3.0 2

In [3]:
#finding the value of the circle
r=float(input("Enter the value of r:"))
pi=3.14
a=pi*r**2
print("The area of circle is",a)

Enter the value of r: 3

The area of circle is 28.26

In [11]:
#calculate the volume
l=float(input("Enter the length:"))
b=float(input("Enter the breadth:"))
h=float(input("Enter the height:"))
v=l*b*h
print("The volume of cylinder is:",v)

Enter the length: 3
Enter the breadth: 2
Enter the height: 4

The volume of cylinder is: 24.0

In [13]:
print(type(v))

<class 'float'>

In [17]:
name=input("Enter your name")
age=int(input("Enter your age"))
address=input("Enter your address")
print(name,age,address)

Enter your name Ram
Enter your age 20
Enter your address Nepal

Ram 20 Nepal

In [27]:
print("Hello World I am",name,"and I am",age," and I am from", address)

Hello World I am Ram and I am 20  and I am from Nepal

In [45]:
#info="Hello world Iam " + name + "I am" + age   #integer and string never concatenate or we have to convert integer to string
info="Hello world I am " + name + " I am " + str(age) + " I am from  " + address
print(info)

Hello world I am Ram I am 20 I am from  Nepal

In [71]:
#WAP to calculate the total, percentage of +2 science students
p=int(input("Enter the marks of physics:"))
c=int(input("Enter the marks of physics:"))
m=int(input("Enter the marks of physics:"))
s=int(input("Enter the marks of physics:"))
com=int(input("Enter the marks of physics:"))
total=p+c+m+s+com
percentage=total/5
print("total is ", total)
print("percentage is ", percentage)

Enter the marks of physics: 30
Enter the marks of physics: 20
Enter the marks of physics: 10
Enter the marks of physics: 40
Enter the marks of physics: 20

total is  120
percentage is  24.0