In [1]:
#loop i.e for and while loop
#range(5) i.e 0,1,2,3,4
#range(1,5) i.e 1,2,3,4  exclude 5
#range(1,5,2) i.e 1,3
#range(0,5,2) i.e 0,2,4

In [9]:
for i in range(5):
      print(i)
for i in range(5):
      print(i,"Hello World")

0
1
2
3
4
0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [11]:
for i in range(1,5):
      print(i)
for i in range(1,5):
      print(i,"Hello world")

1
2
3
4
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
for i in range(1,5,2):
      print(i)

1
3

In [17]:
#for multipliation part
a=int(input("Enter the value of a="))
for i in range(1,11):
    print(a,"*",i,"=",a*i) #inside for loop
#else                       #not inside for loop

Enter the value of a= 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
s=0
for i in range(5):
    a=int(input("Enter the value:"))
    s=s+a
    print(s)

Enter the value: 200

200

Enter the value: 300

500

Enter the value: 100

600

Enter the value: 100

700

Enter the value: 300

1000

In [28]:
#for infinite value print as user need
s=0
n=int(input("enter the value n:"))
for i in range(n):
    a=int(input("Enter the value:"))
    s=s+a
    print(s)

enter the value n: 2
Enter the value: 100

100

Enter the value: 200

300

In [32]:
#to save the name of user
s=""
n=int(input("Enter number of user to print:"))
for i in range(n):
    name=input("Enter name:")
    s=s+name + "\n"
    print(s)

Enter number of user to print: 2
Enter name: R

R

Enter name: B

R
B

In [1]:
#to save the name of user for multiple data
s=""
n=int(input("Enter number of user to print:"))
for i in range(n):
    name=input("Enter name:")
    phone=input("Enter phone:")

    s=s+name + "--"+phone+"\n"
print(s)

Enter number of user to print: 2
Enter name: A
Enter phone: 33
Enter name: B
Enter phone: 13

A--33
B--13

In [15]:
#4!=1*2*3*4
#5=+2+3+4+5
s=0
n=int(input("Enter n="))
for i in range(1,n+1):
    s=s+i
    print("I is:",i)
    print("S is:",s)


s=0
n=int(input("Enter n="))
for i in range(0,n+1):
    s=s+i
    print("I is:",i)
    print("S is:",s)

Enter n= 2

I is: 1
S is: 1
I is: 2
S is: 3

Enter n= 3

I is: 0
S is: 0
I is: 1
S is: 1
I is: 2
S is: 3
I is: 3
S is: 6

In [23]:
#factorial part
s=1
n=int(input("Enter n="))
for i in range(1,n+1):
    s=s*i
   
print("the value is ",s)

Enter n= 4

the value is  24

In [91]:
#print the patterns 
for i in range(5):
    print(i* "*")


for i in range(6):
    print(" "*(5-i),(2*i-1)*"*")

for i in range(1,5):
    print(" "*3,"*"*3)
    
for i in range(1):
    print("."*10)

*
**
***
****

     *
    ***
   *****
  *******
 *********
    ***
    ***
    ***
    ***
..........

In [7]:
for i in range(1,6):   #this is single for loop 
    print("*")

*
*
*
*
*

In [5]:
#nested for loop
for i in range(1,6):  
    for j in range(1,6):
            print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
r=5
for i in range (1,r+1):
    for j in range (1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
#backward pattern
r=5
for i in range(r,0,-1):
    for j in range (i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*