In [8]:
pip install mysql

Requirement already satisfied: mysql in c:\users\user\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\user\anaconda3\lib\site-packages (from mysql) (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector

In [30]:
# #creating a database
# import mysql.connector
# database=mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password=""
# )
# db=database.cursor()
# db.execute("CREATE DATABASE python_class")

2#### name = input("Enter name = ")
physics = int(input("Enter physics marks= "))
chemistry = int(input("Enter chemistry marks= "))
math = int(input("Enter math marks= "))
english = int(input("Enter english marks= "))
nepali = int(input("Enter nepali marks= "))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"
    

#insert data into table
sql = f''' INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade)
        VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

In [3]:
#creating a database
import mysql.connector
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db=database.cursor()
db.execute("SHOW DATABASEs")
for x in db:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('python_class',)
('test',)

In [5]:
#creating a database
import mysql.connector
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db=database.cursor()
db.execute("CREATE DATABASE IF NOT EXISTS python_class")
db.execute("USE python_class")

db.execute("""
    CREATE TABLE IF NOT EXISTS student (
        sn INT PRIMARY KEY,
        name VARCHAR(50),
        physics INT,
        chemistry INT,
        nepali INT,
        java INT,
        maths INT,
        total INT,
        per FLOAT,
        grade VARCHAR(2)
    )
""")
#INSERT DATA
sql = "INSERT INTO student(sn,name,physics,chemistry,nepali,java,maths,total,per,grade) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
values = (7, "Garima", 32, 45, 67, 77, 44, 265, 77, "B")
db.execute(sql, values)
database.commit()  # Don't forget to commit the changes

IntegrityError: 1062 (23000): Duplicate entry '7' for key 'PRIMARY'

In [28]:
#fetching data
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(2, 'Bina', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(3, 'Sita', 54, 67, 45, 23, 56, 34, 400.0, 'A')
(7, 'Garima', 32, 45, 67, 77, 44, 265, 77.0, 'B')

In [30]:
#fetching data
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(2, 'Bina', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(3, 'Sita', 54, 67, 45, 23, 56, 34, 400.0, 'A')
(7, 'Garima', 32, 45, 67, 77, 44, 265, 77.0, 'B')

In [32]:
#Delete in sql
sql = "DELETE FROM student WHERE sn = 29"
db.execute(sql)
database.commit()
print(db.rowcount, "record(s) deleted")

0 record(s) deleted

In [34]:
# Select
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
for x in result:
    print(x)

(3, 'Sita', 54, 67, 45, 23, 56, 34, 400.0, 'A')

In [38]:
# Select
db.execute("SELECT * FROM student WHERE physics > 70")
result =db.fetchall()
for x in result:
    print(x)

In [7]:
# search
db.execute("SELECT * FROM student WHERE name LIKE '%ram%'")
result =db.fetchall()
for x in result:
    print(x)

In [9]:
# Select
db.execute("SELECT * FROM student WHERE physics > 80 and chemistry=80")
result =db.fetchall()
for x in result:
    print(x)

In [11]:
# Select
db.execute("SELECT name,total,per,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

('Bina', 265, 77.0, 'B')
('Sita', 34, 400.0, 'A')
('Garima', 265, 77.0, 'B')

In [13]:
# Select
db.execute("SELECT * FROM student ORDER BY total DESC")
result =db.fetchall()
for x in result:
    print(x)

(2, 'Bina', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(7, 'Garima', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(3, 'Sita', 54, 67, 45, 23, 56, 34, 400.0, 'A')

In [15]:
# Select
db.execute("SELECT * FROM student ORDER BY total DESC")
result =db.fetchall()
for x in result[0:10]:
    print(x)

(2, 'Bina', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(7, 'Garima', 32, 45, 67, 77, 44, 265, 77.0, 'B')
(3, 'Sita', 54, 67, 45, 23, 56, 34, 400.0, 'A')