In [1]:
pip install pyjokes

Requirement already satisfied: pyjokes in c:\users\user\anaconda3\lib\site-packages (0.8.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pyjokes

In [31]:
joke=pyjokes.get_joke()
print(joke)

What do you mean 911 is only for emergencies? I've got a merge conflict.

In [37]:
# #WAP to print twinkle twinkle in a python
# print('''Twinkle Twinkle, Little Star
# How I wonder what you are
# Up above the world so high
# Like a diamond in the sky
# Twinkle Twinkle Little Star
# How I wonder what you are!
# Twinkle Twinkle, Little Star
# How I wonder what you are
# Up above the world so high
# Like a diamond in the sky
# Twinkle Twinkle Little Star
# How I wonder what you are!''')

In [ ]:
#use REPL and print the table of 5 using it 5 * 1= 5

#for multipliation part
a=int(input("Enter the value of a="))
for i in range(1,11):
    print(a,"*",i,"=",a*i) #inside for loop

In [ ]:
# titanic_data=titanic_data.drop(columns='cabin',axis=1)
sns.countplot(X="sex", hue='survived',data=titanic_data)