In [1]:
#string
a='Hello'
b="Hello World"
c='''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
#string concatination
a="Hello "
b="World"
c=a+b
print(c)

a="Hello World\n"
b=2
print(a*b)

Hello World
Hello World
Hello World

In [15]:
#string is immutable which means once defined can't change the value)
a="Hello World"
print(a[1])
print(a[-1])

print(a[0:5]) #string slicing
print(a[:5])
print(a[6:])
print(a[6:100])

#count the characters
c=len(a)
print(c)

#increment index by 2
print(a[0:11:2])

#print inversely
print(a[c-1:0:-1])    #logical error we did not get H

#print in mirror order
print(a[::-1])

e
d
Hello
Hello
World
World
11
HloWrd
dlroW olle
dlroW olleH

In [27]:
#indexing
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d
.

I
a
m

p
y
t
h
o
n
Hello World. Iam python

In [29]:
a="Hello World. Iam python"
l=len(a)
for i in range(l):
    print(a[i],end="")

Hello World. Iam python

In [35]:
a="Hello. World. Iam python."
l=len(a)
for i in range(l):
    if a[i]==".":
        print(i)

5
12
24

In [6]:
#using while loop
i=0
a="Hello World. Iam python"
l=len(a)
while i<l:
    print(a[i],end="")
    i=i+1

Hello World. Iam python

In [4]:
i=0
a="Hello World. Iam python"
l=len(a)
while i<l:
    if a[i]==".":
        print(i)
    i=i+1

11

In [3]:
#string formatting
name="Ram"
add="KTM"
age=34
# info="Hello world Iam "+name+"Iam from "+add+" and Iam "+str(age)   #informal way

info=f"Hello world Iam {name} Iam from {add} and Iam {age}"   # this is string formatting

print(info)

Hello world Iam Ram Iam from KTM and Iam 34

In [15]:
# Initialize empty string for bill and sum variable for total
bill=""
s=0

# Get number of product types from user
n=int(input("enter the types of products:"))

# Loop through each product
for i in range(n):
    # Get product details from user
    product=input("Enter product name:")
    price=int(input("enter the price:"))
    Qty=float(input("Enter quantity:"))
    
    # Calculate total for current product
    total=price*Qty
    
    # Create formatted row string with product details
    row=f"{product} {price} {Qty} {total}\n"
    
    # Add row to bill and update running total
    bill=bill+row 
    s=s+total
    
# Print final bill and total amount
print("Yor bill is\n",bill)
print("Your total is",s)

enter the types of products: 2
Enter product name: ffdsa
enter the price: 100
Enter quantity: 1
Enter product name: dsfef
enter the price: 1300
Enter quantity: 1

Yor bill is
 ffdsa 100 1.0 100.0
dsfef 1300 1.0 1300.0

Your total is 1400.0

In [17]:
#search i.e character or sequence of character

data="Ram Shyam Hari Nabin Sabin Rita"
name=input("Enter Name=")
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter Name= Ram

Yes there is  Ram
1

In [19]:
#Case conversion
data="Ram Shyam Hari Nabin Sabin Rita"
print(data.upper())
print(data.lower())

RAM SHYAM HARI NABIN SABIN RITA
ram shyam hari nabin sabin rita

In [27]:
#case insensitive
data="Ram Shyam Hari Nabin Sabin Rita Ramesh Shramesh".lower()  #think ram and ramesh are same so this is limitation so we prefere doing it in array not in string  list
name=input("Enter Name=").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter Name= Ram

Yes there is  ram
3

In [45]:
#replace() function in string i.e remove one from data
data="Ram Shyam Hari Nabin Sabin Rita"
data=data.replace("Hari","Harry")  #variable. function or object
data=data.replace("Nabin","")
print(data)

Ram Shyam Harry  Sabin Rita

In [39]:
#.title change the first letter into capital
data="ram shyam hari nabin sabin rita"
print(data.title())

Ram Shyam Hari Nabin Sabin Rita

In [5]:
#search and replace
data="Ram Shyam Hari Nabin Sabin Rita ramesh".lower()
name=input("Enter Name=").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
    data=data.replace(name,"")
    print(data.title())
else:
    print("There is no such name")

Enter Name= ram

Yes there is  ram
2
 Shyam Hari Nabin Sabin Rita Esh

In [ ]:
# wap to enter the marks of students calculate total percentages and grades and create a data entry application
#ram,60,50,30,60,70,400,80,A
#shyam 45 42 45 123 454 90 B

result=""
n=int(input("Enter n="))
for i in range (n):
    name=input("Enter the name of student")

    Science=int(input("Enter marks of science"))
    Maths=int(input("Enter marks of science"))
    Social=int(input("Enter marks of science"))
    English=int(input("Enter marks of science"))
    Computer=int(input("Enter marks of science"))
    
    total=Science + Maths + Social + English + Computer

    percentage=total/5
    
    if Science>=45 and Maths>=45 and Social>=45 and English>=45 and Computer>=45:
    
            
        if percentage >= 90:
            print("Your grade is A+")
        
        elif percentage >= 80:
            print("Your grade is B")
        
        elif percentage >= 70:
            print("Your grade is C")
        
        elif percentage >= 60:
            print("Your grade is D")
    else:
            print("you failed")
    
    print("your total marks is",total)
    # print("your peercentages is",percentage)

    data=f"{name} {Science} {Maths} {Social} {English} {Computer} \n"
    result=result+data
print(result)

In [6]:
# #WAP to write "Hello World"in the following pattern
#WAP to remove "." and "!" both from "Hello world.I am Python!"
# H
# He
# Hel
# Hell
# Hello
# Hello W
# ......
# Hello World

a = "Hello World"
for i in range(1, len(a)+1):
    print(a[:i])

H
He
Hel
Hell
Hello
Hello
Hello W
Hello Wo
Hello Wor
Hello Worl
Hello World

In [26]:
#WAP to remove "." and "!" both from "Hello world.I am Python!"
a="Hello world. I am Python!"
for i in a:
    if i!="." and i!="!":
        print(i,end="")

Hello world I am Python

In [31]:
#python collection i.e list, tuple, dictionary, set
#list--- it follows indexing, ordered,multiple and duplicate, mutable means bring change in original value
a=list()
a=[]
print(type(a))

<class 'list'>

In [38]:
#multiple dataset in list (similar to array which means it store multiple data at a time)
a=[1,2,3,4,5,6,7,8,9,10,10] #multiple and duplicate
b=["Apple","Ball","Cat","Dog"] 
print(type(a))
print(type(b))
print(a)
print(b)

print(len(a))
print(len(b))

1
<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]
['Apple', 'Ball', 'Cat', 'Dog']
11
4

In [19]:
b=["Apple","Ball","Cat","Dog","fish"] 

print(b[0]) #indexing
print(b[-2])
print(b[0:3])
print(b[0:6:2])
print(b[::-1])

Apple
Dog
['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'fish']
['fish', 'Dog', 'Cat', 'Ball', 'Apple']

In [29]:
a=[1,2,3,4,5,6] #concatination on list
b=[7,8,9,10]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
a=[1,2,3,4,5,6]  #enlargement on list
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [1]:
#CRUD function 

#function on list i.e append(), insert(),extend() this is a CREATE function
a=[]
a.append("Apple")  #append means to add an element to the end of a list
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [3]:
l=[]
n=int(input("Enter the n="))
for i in range(n):
    a=input("Enter name==")
    l.append(a)
print(l)

Enter the n= 2
Enter name== ram
Enter name== hari

['ram', 'hari']

In [9]:
#insert() i.e insert an element at a specified position in a list
a=['Ram','Bina','Asha','Puja','Roshni']
a.insert(1,"Aarati")
print(a)

['Ram', 'Aarati', 'Bina', 'Asha', 'Puja', 'Roshni']

In [29]:
a=[1,2,3,4,5,6] #extend means add items from one list to the end of another list
b=[7,8,9,0,3]
a.extend(b)
print(a)



a=[1,2,3,4,5,6] #extend means add items from one list to the end of another list
b=[7,8,9,0,3]
c=[12,23,11,5,6]
a.extend(b+c)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 3, 12, 23, 11, 5, 6]

In [43]:
#CRUD now READ function
a=['Ram','Bina','Asha','Puja','Roshni']
for i in a:
    print(i)


a=['Ram','Bina','Asha','Puja','Roshni']
l=len(a)
for i in range(l):
    print(a[i])

Ram
Bina
Asha
Puja
Roshni
Ram
Bina
Asha
Puja
Roshni

In [59]:
#CRUD now update the function

a=['Ram','Bina','Asha','Puja','Roshni']
a[0]='Gita'
#a[a.index('Bina')]="Thapa"
i=a.index("Bina")
a[i]="thapaa"
print(a)



a=['Ram','Bina','Asha','Puja','Roshni']
a[0:2]=['Gita','Hari']
print(a)


a=['Ram','Bina','Asha','Puja','Roshni']
a[0:2]=['Gita']
print(a)

['Gita', 'thapaa', 'Asha', 'Puja', 'Roshni']
['Gita', 'Hari', 'Asha', 'Puja', 'Roshni']
['Gita', 'Asha', 'Puja', 'Roshni']

In [13]:
#CRUD delete
# !jupyter labextension list
#delete i.e del remove() pop()

a=['Ram','Bina','Asha','Puja','Roshni']
del a[0]    #delete by indexing
print(a)


a=['Ram','Bina','Asha','Puja','Roshni']
del a[0:2]
print(a)


a=['Ram','Bina','Asha','Puja','Roshni']
a.remove("Bina")    #delete by value
print(a)

['Bina', 'Asha', 'Puja', 'Roshni']
['Asha', 'Puja', 'Roshni']
['Ram', 'Asha', 'Puja', 'Roshni']

In [17]:
a=['Ram','Bina','Asha','Puja','Roshni']
b=a.pop(0)   #replace the valude by using index
print(a)
print(b)

['Bina', 'Asha', 'Puja', 'Roshni']
Ram

In [23]:
#if need to delete multiple values    donot use indexing
a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']

c=a.count("Ram")
for i in range(c):
    a.remove("Ram")
print(a)

['Rory', 'Asha', 'Puja', 'Gita']

In [25]:
a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']
del a[0:5:6]                #so don't use del here
print(a)

['Rory', 'Asha', 'Puja', 'Gita', 'Ram', 'Ram']

In [37]:
#Read
a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']
for i in a:
    print(i)

#to print out the indexing
# a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']
# for i in range(len(a)):
#     print(i)


#to print out the index of ram 
a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']
for i in range(len(a)):
    if "Ram"==a[i]:
        print(i)


#to change the value then like multiple ram to rama    READ AND UPDATE
a=['Ram','Rory','Asha','Puja','Gita','Ram','Ram']
for i in range(len(a)):
    if "Ram"==a[i]:
        a[i]="Rama"
print(a)

Ram
Rory
Asha
Puja
Gita
Ram
Ram
0
5
6
['Rama', 'Rory', 'Asha', 'Puja', 'Gita', 'Rama', 'Rama']

In [51]:
 #BASIC MATH   i.e min() max() sum() sort() reverse()

a=[234,54,223,677,7,89,988,1234,55,65,76,76,34,23,45,98]
print("The min value=",min(a))
print("The max value=",max(a))
print("The sum value=",sum(a))

a.sort()
print(a)
a.reverse()
print(a)


#also in alphabetical order
a=['Ram','Bina','Asha','Puja','Roshni']
b=['Ram','Bina','asha','Puja','Roshni'] #case sensitive
b=['.Ram','Bina','+asha','Puja','Roshni'] #give priority to special characters while sorting

a.sort()
print(a)
b.sort()
print(b)

The min value= 7
The max value= 1234
The sum value= 3978
[7, 23, 34, 45, 54, 55, 65, 76, 76, 89, 98, 223, 234, 677, 988, 1234]
[1234, 988, 677, 234, 223, 98, 89, 76, 76, 65, 55, 54, 45, 34, 23, 7]
['Asha', 'Bina', 'Puja', 'Ram', 'Roshni']
['+asha', '.Ram', 'Bina', 'Puja', 'Roshni']

In [3]:
#search in string
a=['Ram','Bina','Asha','Puja','Roshni']
search=input("Enter data for search:")
if search in a :
    print("yes there is ")
    print(a.count(search))
else:
    print("There is not present")


#assignment make it caseinsensitive

Enter data for search: bina

There is not present

In [11]:
#nested list
a=[["Ram",34,"Kathmandu"],
   ["Hari",29,"Lalitpur"],
   ["Shyam",80,"Bhaktapur"]]
print(len(a))
print (a)

3
[['Ram', 34, 'Kathmandu'], ['Hari', 29, 'Lalitpur'], ['Shyam', 80, 'Bhaktapur']]

In [15]:
#getting nested list by user input
info=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter address=")
    info.append([name,age,add])
print(info)

Enter n= 2
Enter name= Ram
Enter age= 32
Enter address= KLGJ
Enter name= DSJGKL
Enter age= 3
Enter address= SDFDS

[['Ram', 32, 'KLGJ'], ['DSJGKL', 3, 'SDFDS']]

In [3]:
#finding indexing in nested list 
a=[["Ram",34,"Kathmandu"],
   ["Hari",29,"Lalitpur"],
   ["Ram",80,"Lalitpur"]]
print(a[0])
print(a[0][2])   #this is two dimensional
print(a[0:2])

['Ram', 34, 'Kathmandu']
Kathmandu
[['Ram', 34, 'Kathmandu'], ['Hari', 29, 'Lalitpur']]

In [9]:
#To get the whole information about Ram
name=input("Enter name")
for i in a:
    if name in i:
        print(i)

Enter name Lalitpur

['Hari', 29, 'Lalitpur']
['Ram', 80, 'Lalitpur']

In [7]:
#To get the whole information like through age
age=int(input("Enter age"))
for i in a:
    if i[1]>= age:
        print(i)

Enter age 30

['Ram', 34, 'Kathmandu']
['Ram', 80, 'Lalitpur']

In [ ]:
#Try CRUD in above multidimension