In [ ]:
# tuple
# -support indexing
# -ordered
# -multiple and duplicate data
# -immutable

In [2]:
a=tuple()
print(type(a))

<class 'tuple'>

In [6]:
a=(1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
help me with list, dictionary ,tuple, set with example

In [4]:
#tuple example with user value
t=tuple()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    t= t+(x,)
t

Enter n= 10
Enter x= 324
Enter x= 4344
Enter x= 543453
Enter x= 2334
Enter x= 2343
Enter x= 23433
Enter x= 223
Enter x= 12
Enter x= 125
Enter x= 12

(324, 4344, 543453, 2334, 2343, 23433, 223, 12, 125, 12)

In [6]:
#max() min() sum() in tuple

print("Min value=",min(t))
print("Max value=",max(t))
print("Sum of all value=",sum(t))

Min value= 12
Max value= 543453
Sum of all value= 576603

In [8]:
#in single variable multiple variable can be stored
x=10,11,12,14,15
print(x)

(10, 11, 12, 14, 15)

In [32]:
# #tuple inside tuple
info=(('Ram',9869943896),('Shyam',9680956849))
info

#tuple to dict
dict(info)

#datatype conversion 
# #conversion of list to dict
l=[['Ram',9858754957],['Shyam',9801389408]]
dict(l)

#tuple to list
a=("Ram","Shyam","Hari")
b=list(a)
b

#dict to list
a={'Ram':9809434985,'Shyam':985958054}
b=list(a)
b


#tuple to list then delete apply then again back to tuple
a=("Ram","Shyam","Hari")
b=list(a)
del b[2]
a=tuple(b)
a

('Ram', 'Shyam')

In [11]:
#converting set and list that help to remove the duplication

l={"Apple","Ball","Cat","Cat","Dog","dog"}
s=set(l)
l=list(s)
l

['Dog', 'Apple', 'Ball', 'dog', 'Cat']

In [25]:
#intersection() union() difference() isdisjoint() issubset() issuperset() in set
#Never set inside set cause there is no mutable data inside data
U={"Ram","Hari","Shyam","xyz","abc","Raju","Sita","Kate","Jenny","Bill","Santosh","Satya","Raju"}

#intersection
apple={"Ram","Hari","Shyam","Raju","Sita","Kate","Jenny"}
ms={"Bill","Santosh","Satya","Ram","Raju"}
print(apple.intersection(ms))

#union()
print(apple.union(ms))

#isdisjoint()
print(apple -ms)  #apple ma kaam garney ms ma no 
print(ms -apple)

#not belonging to any set
print(U-apple.union(ms))

#issubset
a={1,2,3,4,5,6,7,8,9,10} #a is a superset of b
b={1,2,3,4}   #b is a subset of a
b.issubset(a)

#print unordered

{'Raju', 'Ram'}
{'Raju', 'Jenny', 'Ram', 'Santosh', 'Sita', 'Hari', 'Satya', 'Shyam', 'Bill', 'Kate'}
{'Jenny', 'Sita', 'Hari', 'Shyam', 'Kate'}
{'Satya', 'Santosh', 'Bill'}
{'abc', 'xyz'}

True