In [ ]:
# tuple
# -support indexing
# -ordered
# -multiple and duplicate data
# -immutable

In [2]:
a=tuple()
print(type(a))

<class 'tuple'>

In [6]:
a=(1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
help me with list, dictionary ,tuple, set with example

In [11]:
#converting set and list that help to remove the duplication

l={"Apple","Ball","Cat","Cat","Dog","dog"}
s=set(l)
l=list(s)
l

['Dog', 'Apple', 'Ball', 'dog', 'Cat']

In [25]:
#intersection() union() difference() isdisjoint() issubset() issuperset() in set

U={"Ram","Hari","Shyam","xyz","abc","Raju","Sita","Kate","Jenny","Bill","Santosh","Satya","Raju"}

#intersection
apple={"Ram","Hari","Shyam","Raju","Sita","Kate","Jenny"}
ms={"Bill","Santosh","Satya","Ram","Raju"}
print(apple.intersection(ms))

#union()
print(apple.union(ms))

#isdisjoint()
print(apple -ms)  #apple ma kaam garney ms ma no 
print(ms -apple)

#not belonging to any set
print(U-apple.union(ms))

#issubset
a={1,2,3,4,5,6,7,8,9,10} #a is a superset of b
b={1,2,3,4}   #b is a subset of a
b.issubset(a)

#print unordered

{'Raju', 'Ram'}
{'Raju', 'Jenny', 'Ram', 'Santosh', 'Sita', 'Hari', 'Satya', 'Shyam', 'Bill', 'Kate'}
{'Jenny', 'Sita', 'Hari', 'Shyam', 'Kate'}
{'Satya', 'Santosh', 'Bill'}
{'abc', 'xyz'}

True