In [ ]:
# #Dict called (json in other programming language)
# #indexing
# ordered
# multiple and duplicate data
# mutable

In [ ]:
# d={<key>:<value>,<key>:<value>,<key>:<value>,......}

In [3]:
d={'a':'Apple','b':'Banana'}
print(type(d))

<class 'dict'>

In [37]:
#in dictionary there is no concatination i.e +,*
#should be use update

a={1:1,2:4,3:9,4:16}
b={5:25,6:36,7:49}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [13]:
d={'name':'Ram','age':'32','add':'Nepal'}
print(len(d))
print(d)

3
{'name': 'Ram', 'age': '32', 'add': 'Nepal'}

In [ ]:
#CRUD

In [35]:
#CREATE in dictionary
d={'name':'Ram','age':'32','name':'Nepal'}   #if duplicate key should be unique
print(d)

d={'name':'Nepal','age':'32','add':'Nepal'} #value can be duplicate
print(d)

d={}
d['Ram']=9847689569
d['Hari']=9487595794
d['Shyam']=98585498574
d['Gita']=479390493
print(d)

{'name': 'Nepal', 'age': '32'}
{'name': 'Nepal', 'age': '32', 'add': 'Nepal'}
{'Ram': 9847689569, 'Hari': 9487595794, 'Shyam': 98585498574, 'Gita': 479390493}

In [27]:
#READ
d={'name':'Ram','age':'32','add':'Nepal'}
print(d['name'])
print(d['age'])
print(d['add'])
print(d.values())
print(d.keys())
print(d.items())

Ram
32
Nepal
dict_values(['Ram', '32', 'Nepal'])
dict_keys(['name', 'age', 'add'])
dict_items([('name', 'Ram'), ('age', '32'), ('add', 'Nepal')])

In [23]:
d={'name':'Ram','age':'32','add':'Nepal'}
for i in d:
    print(i)

name
age
add

In [25]:
d={'name':'Ram','age':'32','add':'Nepal'}
for i in d.values():
    print(i)

Ram
32
Nepal

In [ ]:
#