In [1]:
#loop i.e for and while loop
#range(5) i.e 0,1,2,3,4
#range(1,5) i.e 1,2,3,4  exclude 5
#range(1,5,2) i.e 1,3
#range(0,5,2) i.e 0,2,4

In [9]:
for i in range(5):
      print(i)
for i in range(5):
      print(i,"Hello World")

0
1
2
3
4
0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [11]:
for i in range(1,5):
      print(i)
for i in range(1,5):
      print(i,"Hello world")

1
2
3
4
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
for i in range(1,5,2):
      print(i)

1
3

In [17]:
#for multipliation part
a=int(input("Enter the value of a="))
for i in range(1,11):
    print(a,"*",i,"=",a*i) #inside for loop
#else                       #not inside for loop

Enter the value of a= 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
s=0
for i in range(5):
    a=int(input("Enter the value:"))
    s=s+a
    print(s)

Enter the value: 200

200

Enter the value: 300

500

Enter the value: 100

600

Enter the value: 100

700

Enter the value: 300

1000

In [28]:
#for infinite value print as user need
s=0
n=int(input("enter the value n:"))
for i in range(n):
    a=int(input("Enter the value:"))
    s=s+a
    print(s)

enter the value n: 2
Enter the value: 100

100

Enter the value: 200

300

In [32]:
#to save the name of user
s=""
n=int(input("Enter number of user to print:"))
for i in range(n):
    name=input("Enter name:")
    s=s+name + "\n"
    print(s)

Enter number of user to print: 2
Enter name: R

R

Enter name: B

R
B

In [1]:
#to save the name of user for multiple data
s=""
n=int(input("Enter number of user to print:"))
for i in range(n):
    name=input("Enter name:")
    phone=input("Enter phone:")

    s=s+name + "--"+phone+"\n"
print(s)

Enter number of user to print: 2
Enter name: A
Enter phone: 33
Enter name: B
Enter phone: 13

A--33
B--13

In [15]:
#4!=1*2*3*4
#5=+2+3+4+5
s=0
n=int(input("Enter n="))
for i in range(1,n+1):
    s=s+i
    print("I is:",i)
    print("S is:",s)


s=0
n=int(input("Enter n="))
for i in range(0,n+1):
    s=s+i
    print("I is:",i)
    print("S is:",s)

Enter n= 2

I is: 1
S is: 1
I is: 2
S is: 3

Enter n= 3

I is: 0
S is: 0
I is: 1
S is: 1
I is: 2
S is: 3
I is: 3
S is: 6

In [23]:
#factorial part
s=1
n=int(input("Enter n="))
for i in range(1,n+1):
    s=s*i
   
print("the value is ",s)

Enter n= 4

the value is  24

In [91]:
#print the patterns 
for i in range(5):
    print(i* "*")


for i in range(6):
    print(" "*(5-i),(2*i-1)*"*")

for i in range(1,5):
    print(" "*3,"*"*3)
    
for i in range(1):
    print("."*10)

*
**
***
****

     *
    ***
   *****
  *******
 *********
    ***
    ***
    ***
    ***
..........

In [7]:
for i in range(1,6):   #this is single for loop 
    print("*")

*
*
*
*
*

In [5]:
#nested for loop
for i in range(1,6):  
    for j in range(1,6):
            print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [117]:

#ested approach
r=5
for i in range (1,r+1):
    for j in range (1,i+1):
        print("*", end=" ")
    print()


#string multiplication approach
r = 5
for i in range(1, r + 1):
    print("  " * (r - i) + "* " *  i)

*
* *
* * *
* * * *
* * * * *
        *
      * *
    * * *
  * * * *
* * * * *

In [103]:
#backward pattern
r=4
for i in range(r,0,-1):
    for j in range (i):
        print("*" ,end=" ")
    print()

* * * *
* * *
* *
*

In [105]:
# #1
# 1 2
# 1 2 3
# 1 2 3 4 
# 1 2 3 4 5

# 1 2 3 4 5
# 1 2 3 4 
# 1 2 3 
# 1 2 
# 1

In [15]:
r=5
for i in range(r,0,-1):
    for j in range(1,i+1):
        print("",j,end=" ")
    print()


r=5
for i in range(1,r+1):
    for j in range(1,i+1):
        print("",j,end=" ")
    print()

 1  2  3  4  5
 1  2  3  4
 1  2  3
 1  2
 1
 1
 1  2
 1  2  3
 1  2  3  4
 1  2  3  4  5

In [143]:
 #     *
 #    ***
 #   *****
 #  *******
 # *********
r = 5
for i in range(1, r + 1):
    print("8 " * (r - i) + "* " * i )

8 8 8 8 *
8 8 8 * *
8 8 * * *
8 * * * *
* * * * *

In [13]:
# loop in string

a="Hello"
for i in a:
    print(i, end=" ")

H e l l o

In [15]:
#Loop string with condition
a="Hello. Iam learning python."
for i in a :
    if i !=".":
        print(i,end="")

Hello Iam learning python

In [23]:
#loop string if have to use two condition
a="Hello. Iam Learning ! python.."
for i in a:
    if i !="." and i!="!":
        print(i,end="")

Hello Iam Learning  python

In [25]:
#loop string if have to use two condition print in next line
a="Hello! My name is Python! You are my master."
for i in a:
    if i!="!":
        print(i,end="")
    else:
        print("\n")

Hello

 My name is Python

 You are my master.

In [ ]:
# control statement
#break

In [35]:
for i in range(10):
    if i==5:
        break
    print(i,end=" ")

0 1 2 3 4

In [41]:
#continue
for i in range(10):
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [69]:
a = "Hello World. I am Python"
for i in a:
    if i != ".":
        print(i, end = "")
    else:
        print(".")
        break

Hello World.

In [73]:
#print in reverse order 
for i in range (10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [79]:
# while loop
i=0
while i<=5:
    print("Hello People")
    i=i+1

Hello People
Hello People
Hello People
Hello People
Hello People
Hello People

In [3]:
#while using and multiplication table for a number entered by the user.
i=1
a=int(input("Enter the value"))
while i<=10:
    print(a,"*",i,"=",a*i)
    i=i+1

Enter the value 11

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [3]:
#collect names and phone numbers from the user and display them in a formatted string

i=0
s=""
n=int(input("Enter the n:"))
while i<n:
    name=input("Enter the name:")
    phone=input("Enter the phone number:")
    s=s+name+"--"+phone+"\n"
    i=i+1
print(s)

Enter the n: 2
Enter the name: Ram
Enter the phone number: 986886886
Enter the name: Sits
Enter the phone number: 94884

Ram--986886886
Sits--94884