In [1]:
#string
a='Hello'
b="Hello World"
c='''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
#string concatination
a="Hello "
b="World"
c=a+b
print(c)

a="Hello World\n"
b=2
print(a*b)

Hello World
Hello World
Hello World

In [15]:
#string is immutable which means once defined can't change the value)
a="Hello World"
print(a[1])
print(a[-1])

print(a[0:5]) #string slicing
print(a[:5])
print(a[6:])
print(a[6:100])

#count the characters
c=len(a)
print(c)

#increment index by 2
print(a[0:11:2])

#print inversely
print(a[c-1:0:-1])    #logical error we did not get H

#print in mirror order
print(a[::-1])

e
d
Hello
Hello
World
World
11
HloWrd
dlroW olle
dlroW olleH

In [27]:
#indexing
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d
.

I
a
m

p
y
t
h
o
n
Hello World. Iam python

In [29]:
a="Hello World. Iam python"
l=len(a)
for i in range(l):
    print(a[i],end="")

Hello World. Iam python

In [35]:
a="Hello. World. Iam python."
l=len(a)
for i in range(l):
    if a[i]==".":
        print(i)

5
12
24

In [6]:
#using while loop
i=0
a="Hello World. Iam python"
l=len(a)
while i<l:
    print(a[i],end="")
    i=i+1

Hello World. Iam python

In [4]:
i=0
a="Hello World. Iam python"
l=len(a)
while i<l:
    if a[i]==".":
        print(i)
    i=i+1

11

In [3]:
#string formatting
name="Ram"
add="KTM"
age=34
# info="Hello world Iam "+name+"Iam from "+add+" and Iam "+str(age)   #informal way

info=f"Hello world Iam {name} Iam from {add} and Iam {age}"   # this is string formatting

print(info)

Hello world Iam Ram Iam from KTM and Iam 34

In [6]:
# billing system
bill=""
s=0
n=int(input("enter the types of products:"))
for i in range(n):
    product=input("Enter product name:")
    price=int(input("enter the price:"))
    Qty=float(input("Enter quantity:"))
    total=price*Qty
    row=f"{product} {price} {Qty} {total}\n"
    bill=bill+row
    s=s+total
    
print("Yor bill is\n",bill)
print("Your total is",s)

enter the types of products: 2
Enter product name: apple
enter the price: 100
Enter quantity: 1
Enter product name: grape
enter the price: 100
Enter quantity: 2

Yor bill is
 apple 100 1.0 100.0
grape 100 2.0 200.0

Your total is 300.0

In [17]:
#search i.e character or sequence of character

data="Ram Shyam Hari Nabin Sabin Rita"
name=input("Enter Name=")
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter Name= Ram

Yes there is  Ram
1

In [19]:
#Case conversion
data="Ram Shyam Hari Nabin Sabin Rita"
print(data.upper())
print(data.lower())

RAM SHYAM HARI NABIN SABIN RITA
ram shyam hari nabin sabin rita

In [27]:
#case insensitive
data="Ram Shyam Hari Nabin Sabin Rita Ramesh Shramesh".lower()  #think ram and ramesh are same so this is limitation so we prefere doing it in array not in string  list
name=input("Enter Name=").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter Name= Ram

Yes there is  ram
3

In [45]:
#replace() function in string i.e remove one from data
data="Ram Shyam Hari Nabin Sabin Rita"
data=data.replace("Hari","Harry")  #variable. function or object
data=data.replace("Nabin","")
print(data)

Ram Shyam Harry  Sabin Rita

In [39]:
#.title change the first letter into capital
data="ram shyam hari nabin sabin rita"
print(data.title())

Ram Shyam Hari Nabin Sabin Rita

In [5]:
#search and replace
data="Ram Shyam Hari Nabin Sabin Rita ramesh".lower()
name=input("Enter Name=").lower()
if name in data:
    print("Yes there is ",name)
    print(data.count(name))
    data=data.replace(name,"")
    print(data.title())
else:
    print("There is no such name")

Enter Name= ram

Yes there is  ram
2
 Shyam Hari Nabin Sabin Rita Esh

In [ ]:
# wap to enter the marks of students calculate total percentages and grades and create a data entry application
#ram,60,50,30,60,70,400,80,A
#shyam 45 42 45 123 454 90 B

result=""
n=int(input("Enter n="))
for i in range (n):
    name=input("Enter the name of student")

    Science=int(input("Enter marks of science"))
    Maths=int(input("Enter marks of science"))
    Social=int(input("Enter marks of science"))
    English=int(input("Enter marks of science"))
    Computer=int(input("Enter marks of science"))
    
    total=Science + Maths + Social + English + Computer

    percentage=total/5
    
    if Science>=45 and Maths>=45 and Social>=45 and English>=45 and Computer>=45:
    
            
        if percentage >= 90:
            print("Your grade is A+")
        
        elif percentage >= 80:
            print("Your grade is B")
        
        elif percentage >= 70:
            print("Your grade is C")
        
        elif percentage >= 60:
            print("Your grade is D")
    else:
            print("you failed")
    
    print("your total marks is",total)
    # print("your peercentages is",percentage)

    data=f"{name} {Science} {Maths} {Social} {English} {Computer} \n"
    result=result+data
print(result)